@import "tailwindcss";

@font-face {
  font-family: 'ProximaNova';
  src: url('https://assets.swiggy.com/css-fonts/proximanova-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('https://assets.swiggy.com/css-fonts/proximanova-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'ProximaNova', sans-serif;
  -webkit-font-smoothing: antialiased;
}